main.flex{
    gap: 2.65rem;
    align-items: start;
}

/*  right-section */
.card{
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.18),  1px 1px 1px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(93, 188, 252, 0.3);
    border-radius: 5px;
    transform: 0.2s;
    background-image:linear-gradient(rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05));
}
.card:hover{
    border: 1px solid var(--blue);
    rotate: 1deg;
    scale: 1.01;
    cursor: pointer;
}
.light .card , .light .card:hover{
    border: none;
}
.light .card:hover{
    background-color: rgb(248, 248, 248);
}
.card img{
    border-radius: 5px;
}
main .right-section{
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
   column-gap: 16px;
   row-gap: 2rem;
}

.card .box{
    padding: 1rem 0.4rem;
}

.card .box .title{
    color: var(--title);
    text-transform: capitalize;
}

.card .box .subtitle{
   color: var(--subtitle );
   font-size: 0.8rem;
   margin-top: 0.7rem;
   margin-bottom: 1rem;
}
.card .box .icons{
    padding: 1rem 0.4rem;
    justify-content: space-between;
}

.card .icon-github, .card .icon-link{
    color: var(--subtitle);
    font-size: 1.2rem;
}

.card .icon-github:hover, .card .icon-link:hover{
    color: var(--icon-hover);
    font-size: 1.24rem;
    cursor: pointer;
}
.card .link{
    color: var(--blue);
}

/*  left-section */

main .left-section{
    flex-direction: column;
    gap: 10px;
}

main .left-section button{
    background-color: rgba(36, 37, 46, 1);
    width: 11rem;
    padding: 0.75rem 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.05rem;
    opacity: 0.5;
    border-radius: 5px;
    transition: 0.2s;
}
main .left-section button:hover{
opacity: 1;
}
main .left-section button.active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.8rem 0;
    border: 1px solid var(--blue);
}
.light main .left-section button.active , .light main .left-section button{
    border: 1px solid #000;
}


@media (max-width: 600px) {
    main.flex{
        flex-direction: column;
        gap: 2.65rem;
        align-items: center;
    }
    main .left-section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    main .left-section button{
        width: 7rem;
        padding: 0.9rem 0;
        font-size: 0.85rem;
    }
    }
