section.contact_us .title{
color: var(--title);
margin-bottom: 1rem;
font-size: 2.1rem;
}

section.contact_us .icon-envelope{
    color: var(--subtitle);
    font-size: 1.8rem;
    margin-right: 1rem;
}

section.contact_us .subtitle{
    color: var(--subtitle);
    margin-bottom: 2rem;
    line-height: 1.65rem;
}

section.contact_us label{
    color: var(--subtitle);
}

section.contact_us #email, section.contact_us #Massage{
    all: unset;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63, 63, 70);
    width: 16rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-left: 2rem;
    font-size: 1.1rem;
    transition: 0.3s;

}

.light section.contact_us #email, .light section.contact_us #Massage{
    background-color: rgba(255, 255, 255, 0.162);
    border: 1px solid rgb(128, 128, 128 ,0.450);
    box-shadow:1px 1px 1px rgba(73, 73,73, 0.105);
    color: rgba(73, 72, 72, 0.863);
}
.light section.contact_us #email:focus, .light section.contact_us #Massage:focus,
.light section.contact_us #email:hover, .light section.contact_us #Massage:hover
{
    border:1px solid rgb(54, 53, 53);
}
section.contact_us #email:focus, section.contact_us #Massage:focus{
    border: 1px solid var(--blue);
}

section.contact_us #email:hover, section.contact_us #Massage:hover{
    border: 1px solid var(--blue);
}

section.contact_us #Massage{
    resize: vertical;
    min-height: 9rem;
}
section.contact_us .submit{
background-color: rgba(36, 37, 46, 1);
padding: 0.75rem 2rem;
text-transform: capitalize;
text-align: center;
font-size: 1.05rem;
border-radius: 5px;
transition: 0.3s;
margin-top: 1.8rem;
border: 1px solid rgb(63, 63, 70);
}
section.contact_us .submit:hover{
   scale: 0.97;

    }
    @media (max-width: 1250px) {
        section.contact_us  .animation{display: none;}
      }
    @media (max-width: 600px) {
        section.contact_us .animation {display:none;}
        section.contact_us  form {
            display:flex;
            flex-direction: column;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        section.contact_us  form div.flex {
           flex-direction: column;
            align-items: start;
        }

        section.contact_us #email, section.contact_us #Massage{
            width: 100%;
            margin-left: 0;
            padding: 0.5rem 0;
            margin-top: 1rem;
        }

        section.contact_us .submit{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }

        }
